* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: #000;
}

html {
    font-size: 10px;
    display: flex;
}

body {
    font-size: 2.2rem;
    font-family: 'Exo 2', sans-serif;
    display: flex;
}

#home {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #abb8c3;
}

.header {
    height: 12rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #73777B
}

.logo-title {
    font-size: 2.6rem;
    padding: 1rem 0.1rem;
}

.main-menu {
    display: flex;
}

.menu-item {
    padding: 2rem;
}

.menu-item a:hover {
    color: #fff;

}

.header-line {
    box-shadow: 2rem 3rem 1rem rgb(0 0 0 / 0.2);
}

.home-cards {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 20%;
    height: 80vh;
    background-color: #fff;
    margin: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 0.2);
    font-size: 20px;
}

.card-images {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;

}

.blog-titles {
    text-align: left;
    padding: 2rem;
}

.blog-content {
    padding: 1rem 3rem;

}

.read-btn {
    margin:30px;
    padding: .7rem;
    background-color: #73777B;
    color: #fff;
    border-radius: 0.5rem;
}

.read-btn:hover {
    margin:30px;
    padding: 1rem;
    outline: 0.1rem solid rgb(228, 12, 12);
    background-color: #fff;
    color: #000;
    transition: 400ms;

}

@media (max-width:600px) {
    body {
        font-size: 1.5rem;
    }

    #home {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #abb8c3;
    }
    
    .home-cards {
        flex-direction: column;
        
    }

    .card {
        width: 90%;
        height: 100%;
    }

    .card-images {
        width: 100%;
        height: 40%;
        object-fit: cover;
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
    
    }
}